POSTGRES_USER=my_db_user
POSTGRES_PASSWORD=my_super_secret_password
POSTGRES_DB=fastshop_db

# Для запуска через Docker Compose:
APP_CONFIG__DB__URL=postgresql+asyncpg://my_db_user:my_super_secret_password@db:5432/fastshop_db

# Для запуска локально через PyCharm (раскомментируй, если нужно):
# APP_CONFIG__DB__URL=postgresql+asyncpg://my_db_user:my_super_secret_password@localhost:5432/dbname

# Сгенерировать токены доступа можно при помощи данной команды: python -c "import secrets; print(f'RESET_SECRET: {secrets.token_urlsafe(32)}\nVERIFICATION_SECRET: {secrets.token_urlsafe(32)}')"
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=your-super-secret-reset-token
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=your-super-secret-verification-token